<app-header-client></app-header-client>

<!-- Title -->
<div class="p-5 text-center">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Class Registration</h1>
  </div>
  <!-- Title -->

<!-- Show All Classes-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Show All Classes</h4>
  <h6 class ="mb-2">Show the names of all the classes of the system.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ShowAllClasses">Enter</button>
</div>

<!-- Add Classes-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Register to Class</h4>
  <h6 class ="mb-2">Register to the select class.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ClassRegisterPage">Enter</button>
</div>

<!--Back Button-->
<div class="p-5 text-center">
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ClientClassRegisterPage">Back</button>
</div>