<app-header-admin></app-header-admin>

<!-- Title -->
<div class="p-5 text-center">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Employee Management</h1>
  </div>
  <!-- Title -->

<!-- Show All Employee-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Show All Employees</h4>
  <h6 class ="mb-2">Show all employees of the system.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ShowAllEmployee">Enter</button>
</div>

<!-- Add Employee-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Add Employee</h4>
  <h6 class ="mb-2">Add new employees to the system.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AddEmployee">Enter</button>
</div>

<!-- Show Employee-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Show Employee</h4>
  <h6 class ="mb-2">Show the specific employee of the system.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ShowEmployee">Enter</button>
</div>

<!-- Edit Employee-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Edit Employee</h4>
  <h6 class ="mb-2">Edit a specific employee of the system.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/EditEmployee">Enter</button>
</div>

<!-- Delete Employee-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Delete Employee</h4>
  <h6 class ="mb-2">Delete a specific employee of the system.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/DeleteEmployee">Enter</button>
</div>

<div class="p-5 text-center">
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AdminFormPage">Back</button>
</div>