<app-header-admin></app-header-admin>

<!-- Title -->
<div class="p-5 text-center">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Spa Management</h1>
  </div>
  <!-- Title -->

<!-- Show All Spa-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Show All Spa</h4>
  <h6 class ="mb-2">Show the names of all the spa of the system.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ShowAllSpa">Enter</button>
</div>

<!-- Show Spa-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Show Spa Treatment</h4>
  <h6 class ="mb-2">Show a specific spa treatment of the system with all the info.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ShowSpaTreatment">Enter</button>
</div>

<!-- Edit Spa-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Edit Spa</h4>
  <h6 class ="mb-2">Edit a specific spa of the system.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/EditSpa">Enter</button>
</div>





<!--Back Button-->
<div class="p-5 text-center">
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AdminServicesPage">Back</button>
</div>