<app-header-admin></app-header-admin>

<!-- Title -->
<div class="p-5 text-center">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Form Page</h1>
  </div>
  <!-- Title -->

<!--Job Management Part-->
<div class ="p-5 bg-light">
  <h4 class="mb-3">Job Management</h4>
  <h6 class ="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="#">Enter</button>
</div>

<!--Payroll Management Part-->
<div class ="p-5 bg-light">
    <h4 class="mb-3">Payroll Management</h4>
    <h6 class ="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="#">Enter</button>
  </div> <!--Add Type of Payroll AND Generate Payroll-->

<!--Employee Management Part-->
<div class ="p-5 bg-light">
  <h4 class="mb-3">Employee Management</h4>
  <h6 class ="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="#">Enter</button>
</div>