<app-header-admin></app-header-admin>

<!-- Title -->
<div class="p-5 text-center">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Gear Management</h1>
  </div>
  <!-- Title -->

  <!-- Show All Gear-->
  <div class ="p-5 bg-light text-left">
    <h4 class="mb-3">Show All Gear</h4>
    <h6 class ="mb-2">Show the names of all the gear of the system.</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ShowAllGear">Enter</button>
  </div>
  
  <!-- Add Gear-->
  <div class ="p-5 bg-light text-left">
    <h4 class="mb-3">Add Gear</h4>
    <h6 class ="mb-2">Add new gear to the system.</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AddGear">Enter</button>
  </div>
  
  <!-- Show Gear-->
  <div class ="p-5 bg-light text-left">
    <h4 class="mb-3">Show Gear</h4>
    <h6 class ="mb-2">Show a specific gear of the system with all the info.</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ShowGear">Enter</button>
  </div>
  
  <!-- Edit Gear-->
  <div class ="p-5 bg-light text-left">
    <h4 class="mb-3">Edit Gear</h4>
    <h6 class ="mb-2">Edit a specific gear of the system.</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/EditGear">Enter</button>
  </div>
  
  <!-- Delete Gear-->
  <div class ="p-5 bg-light text-left">
    <h4 class="mb-3">Delete Gear</h4>
    <h6 class ="mb-2">Delete the gear of the system.</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/DeleteGear">Enter</button>
  </div>

<!--Back Button-->
<div class="p-5 text-center">
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AdminEquipmentPage">Back</button>
</div>