<app-header-admin></app-header-admin>

<!-- Title -->
<div class="p-5 text-center">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Add Branches</h1>
  </div>
  <!-- Title -->

  <form [formGroup]="addBranchesForm" (ngSubmit)="proceedAddBranches()">
    <!--Name and MaxSize -->
    <div class="row">
    <div class="col-md-6 mb-4">
        <div class="form-outline">
        <input type="text" formControlName="Name" id="form3Example1" class="form-control"/>
        <label class="form-label" for="form3Example1">Name</label>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="form-outline">
        <input type="number" formControlName="max_Size" id="form3Example2" class="form-control" />
        <label class="form-label" for="form3Example2">Max Size</label>
        </div>
    </div>
    </div>

    <!--Province and District-->
    <div class="row">
    <div class="col-md-6 mb-4">
        <div class="form-outline">
        <input type="text" formControlName="Province" id="form3Example1" class="form-control" />
        <label class="form-label" for="form3Example1">Province</label>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="form-outline">
        <input type="text" formControlName="District" id="form3Example2" class="form-control" />
        <label class="form-label" for="form3Example2">District</label>
        </div>
    </div>
    </div>

    <!--Canton-->
    <div class="form-outline">
    <input type="text" formControlName="Canton" id="form3Example1" class="form-control" />
    <label class="form-label" for="form3Example1">Canton</label>
    </div>
    

    <!--Opening Date and Schedule Attention -->
    <div class="row">
    <div class="col-md-6 mb-4">
        <div class="form-outline">
        <input type="text" formControlName="opening_Date" id="form3Example1" class="form-control" />
        <label class="form-label" for="form3Example1">Opening date</label>
        </div>
    </div>

    <div class="col-md-6 mb-4">
        <div class="form-outline">
        <input type="text" formControlName="schedule_Attention" id="form3Example2" class="form-control" />
        <label class="form-label" for="form3Example2">Schedule Attention</label>
        </div>
    </div>
    </div>


    
    <!-- Submit button -->
    <div class="d-flex align-items-center justify-content-center pb-4">
        <button type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">Add</button>
    </div>

    <!-- Back button -->
    <div class="d-flex align-items-center justify-content-center pb-4">
        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/BranchesManagement">Back</button>
    </div>



    
</form>


    