<app-header-admin></app-header-admin>

<!-- Title -->
<div class="p-5 text-center">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Services Management</h1>
  </div>
  <!-- Title -->

<!-- Show All Services-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Show All Services</h4>
  <h6 class ="mb-2">Show the names of all the services of the system.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ShowAllServices">Enter</button>
</div>

<!-- Add Services-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Add Services</h4>
  <h6 class ="mb-2">Add new services to the system.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AddServices">Enter</button>
</div>

<!-- Edit Services-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Edit Services</h4>
  <h6 class ="mb-2">Edit a specific service of the system.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/EditServices">Enter</button>
</div>

<!-- Delete Services-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Delete Services</h4>
  <h6 class ="mb-2">Delete a specific service of the system.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/DeleteServices">Enter</button>
</div>
<div class="p-5 text-center">
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AdminServicesPage">Back</button>
</div>