<app-header-admin></app-header-admin>

<!-- Title -->
<div class="p-5 text-center">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Branches Management</h1>
  </div>
  <!-- Title -->

  <!-- Show All Branches-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Show All Branches</h4>
  <h6 class ="mb-2">Show the names of all the branches of the system.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ShowAllBranches">Enter</button>
</div>

<!-- Add Branches-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Add Branches</h4>
  <h6 class ="mb-2">Add new branches to the system.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AddBranches">Enter</button>
</div>

<!-- Show Branches-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Show Branches</h4>
  <h6 class ="mb-2">Show a specific branch of the system with all the info.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ShowBranches">Enter</button>
</div>

<!-- Edit Branches-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Edit Branches</h4>
  <h6 class ="mb-2">Edit a specific branch of the system.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="">Enter</button>
</div>

<!-- Delete Branches-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Delete Branches</h4>
  <h6 class ="mb-2">Delete the branches of the system.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/DeleteBranches">Enter</button>
</div>




<div class="p-5 text-center">
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AdminBranchPage">Back</button>
</div>