<app-header-admin></app-header-admin>

<!-- Title -->
<div class="p-5 text-center">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Jobs Management</h1>
  </div>
  <!-- Title -->

<!-- Show All Job-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Show All Jobs</h4>
  <h6 class ="mb-2">Show all jobs of the system.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ShowAllJob">Enter</button>
</div>

<!-- Show Job-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Show Job</h4>
  <h6 class ="mb-2">Show the specific job of the system.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ShowJob">Enter</button>
</div>

<!-- Edit Job-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Edit Job</h4>
  <h6 class ="mb-2">Edit a specific job of the system.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/EditJob">Enter</button>
</div>

<div class="p-5 text-center">
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AdminFormPage">Back</button>
</div>