<app-header-admin></app-header-admin>

<!-- Title -->
<div class="p-5 text-center">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Products Management</h1>
  </div>
  <!-- Title -->

<!-- Show All Products-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Show All Products</h4>
  <h6 class ="mb-2">Show the names of all the products of the system.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ShowAllProducts">Enter</button>
</div>

<!-- Add Products-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Add Products</h4>
  <h6 class ="mb-2">Add new products to the system.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AddProducts">Enter</button>
</div>

<!-- Show Products-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Show Products</h4>
  <h6 class ="mb-2">Show a specific product of the system with all the info.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ShowProducts">Enter</button>
</div>

<!-- Edit Products-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Edit Products</h4>
  <h6 class ="mb-2">Edit a specific product of the system.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/EditProducts">Enter</button>
</div>

<!-- Delete Products-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Delete Products</h4>
  <h6 class ="mb-2">Delete the products of the system.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/DeleteProducts">Enter</button>
</div>



<!--Back Button-->
<div class="p-5 text-center">
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AdminServicesPage">Back</button>
</div>