<app-header-admin></app-header-admin>

<!-- Title -->
<div class="p-5 text-center">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Home Page</h1>
    <h4 class="mb-3">Please, select an option down below or in the header to manage the section you want:</h4>
  </div>
  <!-- Title -->

<!-- Branches & Shops Part-->
<div class ="p-5 bg-light">
  <h4 class="mb-3">Branches & Shops</h4>
  <h6 class ="mb-2">Management of everything related to shos and branches</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AdminBranchPage">Enter</button>
</div>

<!-- Form Part-->
<div class ="p-5 bg-light">
    <h4 class="mb-3">Form</h4>
    <h6 class ="mb-2">Management of everything related to the payroll</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AdminFormPage">Enter</button>
  </div>

<!-- Equipment Part-->
<div class ="p-5 bg-light">
  <h4 class="mb-3">Equipment</h4>
  <h6 class ="mb-2">Management of everything related to the equipment</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AdminEquipmentPage">Enter</button>
</div>

<!-- Services Part-->
<div class ="p-5 bg-light">
  <h4 class="mb-3">Services</h4>
  <h6 class ="mb-2">Management of everything related to the services</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AdminServicesPage">Enter</button>
</div>