<app-header-admin></app-header-admin>

<!-- Title -->
<div class="p-5 text-center">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Services Page</h1>
  </div>
  <!-- Title -->

<!--Services Management Part-->
<div class ="p-5 bg-light">
  <h4 class="mb-3">Services Management</h4>
  <h6 class ="mb-2">Management of the addition of services.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ServicesManagement">Enter</button>
</div> <!--Add Copy Activities Schedule-->

<!--Products Management Part-->
<div class ="p-5 bg-light">
    <h4 class="mb-3">Products Management</h4>
    <h6 class ="mb-2">Management of the store's products.</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ProductsManagement">Enter</button>
  </div>

<!--Lessons Management Part-->
<div class ="p-5 bg-light">
  <h4 class="mb-3">Lessons Management</h4>
  <h6 class ="mb-2">Management of the lessons of the clients.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/LessonsManagement">Enter</button>
</div>

<!--Spa Management Part-->
<div class ="p-5 bg-light">
  <h4 class="mb-3">Spa Management</h4>
  <h6 class ="mb-2">Management of the differents spa.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/SpaManagement">Enter</button>
</div>

