<app-header-admin></app-header-admin>

<!-- Title -->
<div class="p-5 text-center">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Payroll Management</h1>
  </div>
  <!-- Title -->

<!-- Show All Payroll-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Show All Payroll</h4>
  <h6 class ="mb-2">Show the names of all the payroll of the system.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ShowAllPayroll">Enter</button>
</div>

<!-- Add Payroll-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Show Payroll</h4>
  <h6 class ="mb-2">Show a specific payroll of the system.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/ShowPayroll">Enter</button>
</div>

<!-- Edit Payroll-->
<div class ="p-5 bg-light text-left">
  <h4 class="mb-3">Edit Payroll</h4>
  <h6 class ="mb-2">Edit a specific payroll of the system.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/EditPayroll">Enter</button>
</div>

<!--Back Button-->
<div class="p-5 text-center">
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/AdminFormPage">Back</button>
</div>
