<app-header-admin></app-header-admin>

<!-- Title -->
<div class="p-5 text-center">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Add Inventory</h1>
  </div>
  <!-- Title -->
  <form [formGroup]="addInventoryForm" (ngSubmit)="proceedAddInventory()">
    <!--Branch Name and Brand-->
    <div class="row">
    <div class="col-md-6 mb-4">
        <div class="form-outline">
        <input type="text" formControlName="Branch_Name" id="form3Example1" class="form-control"/>
        <label class="form-label" for="form3Example1">Branch Name</label>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="form-outline">
        <input type="text" formControlName="Brand" id="form3Example2" class="form-control" />
        <label class="form-label" for="form3Example2">Brand</label>
        </div>
    </div>
    </div>

    <!--Serial Number and Price-->
    <div class="row">
    <div class="col-md-6 mb-4">
        <div class="form-outline">
        <input type="number" formControlName="Serial_Number" id="form3Example1" class="form-control" />
        <label class="form-label" for="form3Example1">Serial Number</label>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="form-outline">
        <input type="text" formControlName="Price" id="form3Example2" class="form-control" />
        <label class="form-label" for="form3Example2">Price</label>
        </div>
    </div>
    </div>

    <!--Gear ID-->
    <div class="form-outline">
        <input type="number" formControlName="gear_ID" id="form3Example1" class="form-control" />
        <label class="form-label" for="form3Example1">Gear ID</label>
    </div>
    

    <!--Gear Name and Gear Type-->
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="form-outline">
            <input type="text" formControlName="gear_Name" id="form3Example1" class="form-control" />
            <label class="form-label" for="form3Example1">Gear Name</label>
        </div>
    </div>

    <div class="col-md-6 mb-4">
        <div class="form-outline">
        <input type="text" formControlName="gear_Type" id="form3Example2" class="form-control" />
        <label class="form-label" for="form3Example2">Gear Type</label>
        </div>
    </div>
    </div>


    
    <!-- Submit button -->
    <div class="d-flex align-items-center justify-content-center pb-4">
        <button type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">Add</button>
    </div>

    <!-- Back button -->
    <div class="d-flex align-items-center justify-content-center pb-4">
        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/InventoryManagement">Back</button>
    </div>



    
</form>


    