<app-header-admin></app-header-admin>

<!-- Title -->
<div class="p-5 text-center">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
        style="width: 185px;" alt="logo">
    <h1 class="mb-3">Equipment Page</h1>
  </div>
  <!-- Title -->

<!-- Team Type Management Part-->
<div class ="p-5 bg-light">
  <h4 class="mb-3">Gear Management</h4>
  <h6 class ="mb-2">Management of the team type in general to modify the type of the equipment.</h6>
  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/TeamTypeManagement">Enter</button>
</div>

<!-- Inventory Management Part-->
<div class ="p-5 bg-light">
    <h4 class="mb-3">Inventory Management</h4>
    <h6 class ="mb-2">Management of the information of the inventory of the gyms.</h6>
    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" routerLink="/InventoryManagement">Enter</button>
  </div>